<script lang="ts">
    import ImageContainer from '@components/shared/ImageContainer.svelte'
    import PostInfo from '@components/posts/PostInfo.svelte'
    import PostTitles from '@components/posts/PostTitles.svelte'

    import props from './props'

    const { title, subtitle, publicationDate, authors } = props
</script>

<PostTitles props={props} />
<PostInfo props={props} />
<br />
