:root {
    --accent-color-primary: #d07319;
    --default-text-color: #151515;

    --default-text-color-dark: #efeeee;

    --color-bg-default: #e2d1af;
    --color-bg-dark: #181a1b;

    --color-code-bg: #d0a27678;
    --color-code-bg-dark: #19223e;
    --color-code-bg-darker: #1b2032;
}

.accent-color {
    color: var(--accent-color-primary);
}
