body {
    font-family: Fantasque Sans Mono, monospace;
    font-weight: 400;
    font-size: 20px;
    background-color: #efe6d7;

    @media screen and (prefers-color-scheme: dark) {
        color: #eee;
        background: #121212;
        --default-text-color: #eee;
    }

}

a {
    color: #809fff;
}

.container {
    margin: 0 auto;
    max-width: 60rem;

    @media screen and (max-width: 500px) {
        margin: 0 auto;
        max-width: 21rem;
    }

}

.center-text {
    text-align: center;
}

li::marker {
    font-size: 1.2em;
    margin-right: 0px;
}

h1 {
    color: var(--accent-color-primary);
    font-size: 2em;
}

h2 {
    color: var(--accent-color-primary);
    font-size: 1.5em;
}

h3 {
    color: var(--accent-color-primary);
    font-size: 1.3em;
}

li {
    font-size: 1.2rem;
}

code {
    font-weight: 400;
    font-family: monospace;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
    background-color: var(--color-gray-bg);

    @media screen and (prefers-color-scheme: dark) {
        color: var(--accent-color-primary);
        background-color: var(--color-gray-bg-dark);
    }
}

p code {
    font-size: 1rem;
}

pre code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  min-width: 100px;
  border-radius: 0.5rem;
  padding: .3rem;
  background-color: var(--color-gray-bg);

  @media screen and (prefers-color-scheme: dark) {
      background-color: var(--color-gray-bg-darker);
  }

  @media screen and (max-width: 500px) {
      overflow: scroll;
  }
}

.caption {
    display: block;
    opacity: 0.9;
    font-size: 0.9rem;
    font-style: italic;
    justify-content: center;
    margin-left: 1em;
}

.youtube-video-container {
    height: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    text-align: center;

    @media screen and (max-width: 500px) {
        height: 13vw;
    }

}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
